Django>=5.0
djangorestframework
django-cors-headers
django-filter
django-allauth
djangorestframework-simplejwt
bcrypt
argon2-cffi
Pillow
django-storages
boto3
mysqlclient
psycopg2-binary
dj-database-url
django-crispy-forms
django-widget-tweaks
django-tailwind
django-compressor
django-redis
celery
redis
django-anymail
twilio
python-decouple
gunicorn
whitenoise
pytest-django
coverage
razorpay>=1.4.4